
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  
    
}
.contenedor-principal{
background-image: url('https://img.freepik.com/vector-gratis/fondo-nube-vector-estilo-corte-papel-pastel_53876-135914.jpg?t=st=1725482554~exp=1725486154~hmac=afd79e24c163d0fc2adf364c9fd53c8439fdc50a5e2b7bcd6041ab532ed4c874&w=996');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

padding: 10px;




}
.title{
    text-transform: capitalize;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    color: #000;
    font-size: 2rem;
   

}